@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
	font-family: 'Geometria';
	src: url('fonts/Geometria.ttf');
	src: url('fonts/Geometria.woff') format('woff'),
		url('fonts/Geometria.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('fonts/Geometria-Light.ttf');
	src: url('fonts/Geometria-Light.woff') format('woff'),
		url('fonts/Geometria-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('fonts/Geometria-Bold.ttf');
	src: url('fonts/Geometria-Bold.woff') format('woff'),
		url('fonts/Geometria-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('fonts/Geometria-Medium.ttf');
	src: url('fonts/Geometria-Medium.woff') format('woff'),
		url('fonts/Geometria-Medium.svg') format('svg');
	font-weight: medium;
	font-style: normal;
}