.try__inscription {
    max-width: unset;
}

.try__inscription,
.top-center-text,
.phone__number {
    font-size: 4.27vh;
    line-height: 1.5em;
}

.menu,
.welcome,
.phone,
.pages,
.scroll-down,
.social,
.main-image,
.main-inscription,
.logo-left {
    flex-basis: 33.33%;
    max-width: unset;
    max-height: unset;
}

.logo-left {
    max-width: 11.2vw;
}

.phone {
    display: flex;
    justify-content: flex-end;
}

.main-image {
    height: 50.66vh;
}

.menu__header,
.scroll-down__text {
    display: none;
}

.pages {
    text-align: unset;
    margin: 0;
    flex-basis: 33.33%;
}