.menu-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 16.2vh;
    position: absolute;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform .5s ease-in-out;
}

.cross {
    content: url('./images/x.png');
    width: 2.13vh;
    margin-right: 2.31vh;
    object-fit: contain;
    align-self: flex-start;
}

.menu-opened {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25.46vh;
    position: absolute;
}

.menu:hover > .menu-block,
.menu-block:hover > .menu-block {
    opacity: 1;
    transform: scaleY(1);
}

.menu:hover > .menu-block {
    opacity: 1;
}

.menu:hover > .menu__icon,
.menu:hover > .menu__header {
    opacity: 0;
}

.menu-opened__item {
    list-style: none;
    line-height: 3.33vh;
    opacity: 0.5;
}

.menu-opened__item_selected {
    opacity: 1;
}