.menu:hover,
.menu:hover .menu__header,
.menu:hover .menu__icon,
.menu:hover .menu-block,
.menu-block {
    transition: none;
    transform: none;
    opacity: 1;
}

.menu-block {
    /* position: relative; */
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: pink;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin: -20px; */
}

/* .menu-opened {
    align-items: center;
    justify-content: center;
} */

.menu__icon:hover,
.menu__header {
    opacity: 1;
}

.menu-opened__item {
    list-style: none;
    line-height: 3.33vh;
    opacity: 0.5;
    margin-top: 0.5em;
}

.menu-opened__item a {
    color: inherit;
    text-decoration: none;
}

.menu-opened__item_selected {
    opacity: 1;
}

.menu__mobile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: pink;
    margin: -20px;
}