/*.menu__icon,
.menu__header,
.menu-block,
.menu {
    transition: .5s ease-in-out all;
}*/

.menu:hover,
.menu:hover .menu__header,
.menu:hover .menu__icon,
.menu:hover .menu-block,
.menu__icon,
.menu__header,
.menu-block {
    transition: none;
    opacity: 1;
    transform: none;
}

.menu {
    position: absolute;
}

.menu__mobile {
    width: 100vw;
    height: 100vh;
}

.menu-block {
    display: block;
    position: absolute;
    /* opacity: 0; */
    /*transform: scaleY(0);*/
    width: 100%;
    height: 100%;
}

.menu-opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.menu:focus .menu-block {
    opacity: 1;
    transform: scaleY(1);
}*/

.menu__icon,
.menu__header {
    opacity: 1;
}

.menu-opened__item {
    list-style: none;
    line-height: 3.33vh;
    opacity: 0.5;
    margin-top: 0.5em;
}

.menu-opened__item a {
    color: inherit;
    text-decoration: none;
}

.menu-opened__item_selected {
    opacity: 1;
}