.menu__icon,
.menu__header,
.menu-block,
.menu:hover {
    transition: .5s ease-in-out all;
}

.menu-block {
    display: block;
    float: right;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    opacity: 0;
    transform: scaleY(0);
}

.menu-opened {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -1.5em;
}

.menu:hover .menu-block {
    opacity: 1;
    transform: scaleY(1);
}

.menu__icon,
.menu__header {
    opacity: 1;
}

.menu:hover .menu__header,
.menu:hover .menu__icon {
    opacity: 0;
}

.menu-opened__item {
    list-style: none;
    line-height: 3.33vh;
    opacity: 0.5;
    margin-top: 0.5em;
}

.menu-opened__item a {
    color: inherit;
    text-decoration: none;
}

.menu-opened__item:hover {
    opacity: 1;
}

.menu-opened__item_selected {
    opacity: 1;
}