@import url('menu-opened-mob.css');

.phone,
.menu__header {
	display: none;
}

.menu {
    flex-basis: unset;
}

.menu__icon {
    height: 3.07vh;
}

.logo-left {
    justify-content: flex-end;
    flex-basis: unset;
    height: 3.08vh;
    margin: 0 0 0 auto;
}

.slides {
    padding: 20px;
}

.main-image {
    order: -1;
    flex-basis: 100%;
    transform: none;
    height: 36.95vh;
}

.main-inscription {
    order: 0;
    max-width: 70vw;
    height: auto;
    margin: auto;
    justify-content: center;
    flex-basis: 100%;
}

.center-yoga {
    font-size: 2.2vh;
}

.lotos {
    font-size: 16vh;
}

.try__inscription {
	font-size: 1.97vh;
    line-height: 3.08vh;
}

.classes-text {
    flex-basis: 100%;
    margin-top: 0;
    flex-direction: row;
    max-height: 74vh;
}

.classes-description {
    font-size: 16px;
}

.switch-classes-arrows {
    margin-right: 0;
    margin-left: auto;
}

.switch-classes-back {
    transform: rotate(90deg);
    margin-right: 10px;
}

.switch-classes-forward {
    transform: rotate(275deg);
}

.button-sign-up {
    background: url('images/plus.png') no-repeat #f78e6a;
    border-radius: 2em;
    min-width: 285px;
    min-height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;

    font-size: 16px;
    line-height: 24px;
    color: white;
}

.classes-image {
	display: none;
}

.pages {
    order: 1;
    text-align: unset;
    margin: 0;
    flex-basis: 33.33%;
}

.pages__top {
    padding-top: 0;
    font-size: 3.69vh;
    line-height: 2.96vh;
}

.pages__bottom {
    font-size: 1.72vh;
    line-height: 2.96vh;
}

.social {
	order: 2;
    justify-content: center;
    font-size: 10px;
    margin: 0;
    flex-basis: 33.33%;
}

.scroll-down {
	order: 3;
	justify-content: flex-end;
    margin: 0;
    flex-basis: 33.33%;
}