.phone,
.menu__header {
	display: none;
}

.menu {
    flex-basis: unset;
}

.menu__icon {
    width: 6.4vw;
}

.logo-left {
    justify-content: flex-end;
    flex-basis: unset;
    height: 3.08vh;
}

.fullscreen-slide-wrapper {
    padding: 20px;
}

.main-image {
    order: -1;
    flex-basis: 100%;
    transform: none;
    height: 36.95vh;
}

.main-inscription {
    order: 0;
    width: 89.33vw;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    flex-basis: 100%;
}

.center-yoga {
    font-size: 2.2vh;
}

.lotos {
    font-size: 16vh;
}

.try__inscription {
	font-size: 1.97vh;
	line-height: 3.08vh;
	width: 55vw;
}

.pages {
    order: 1;
    text-align: right;
    margin: 0;
    flex-basis: unset;
}

.pages__top {
    padding-top: 0;
    font-size: 3.69vh;
    line-height: 2.96vh;
}

.pages__bottom {
    font-size: 1.72vh;
    line-height: 2.96vh;
}

.social {
	order: 2;
    justify-content: center;
    font-size: 10px;
    margin: 0;
    flex-basis: unset;
}

.scroll-down {
	order: 3;
	justify-content: flex-end;
    margin: 0;
    flex-basis: unset;
}