@import url('fonts.css');

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fbf5f4;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Geometria';
}

.fullscreen-slide-wrapper {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding: 0 8.33vh;
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 6.48vh;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__icon {
	content: url('images/burger.png');
	margin-right: 0.938em;
}

.menu__block {
	font-size: 18px;
}

.welcome {
	display: flex;
	align-items: center;
}

.welcome__dot {
	background-color: #f78e6a;
	width: 0.375em;
	height: 0.375em;
	border-radius: 50%;
	margin-right: 0.625em;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-left {
	max-width: 49px;
	content: url('images/logo.png');
}

.main-image {
	height: 78.79vh;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6.48vh;
}

.social {
	min-width: 6.75em;
	display: flex;
	justify-content: space-between;
}

.scroll-down {
	display: flex;
	align-items: center;
}

.scroll-down__arrow {
	max-width: 30px;
	content: url('images/ellipse-arrow.png');
}

.scroll-down__text {
	margin-right: 0.625em;
}