@import url('fonts.css');

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fbf5f4;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Geometria', sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.fullscreen-slide-wrapper {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	padding: 0 8.33vh;
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 6.4vh;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__icon {
	content: url('images/burger.png');
	margin-right: 0.938em;
}

.top-center-text {
	line-height: 36px;
}

.welcome {
	display: flex;
	align-items: center;
}

.welcome__dot {
	background-color: #f78e6a;
	width: 0.375em;
	height: 0.375em;
	border-radius: 50%;
	margin-right: 0.625em;
}

.phone__number {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: black;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-left {
	max-width: 49px;
	content: url('images/logo.png');
}

.main-image {
	height: 78.79vh;
}

.main-inscription {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 51.48vh;
}

.lotos-inscription {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-yoga {
	margin: 0;
	padding: 0;
	font-size: 2.22vh;

	background: linear-gradient(to right, #f78e6a, #fc66a2);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	white-space: nowrap;
}

.lotos {
	margin: 0;
	padding: 0;
	display: block;
	margin-left: -1.38vh;
	margin-bottom: -2.31vh;
	font-size: 18.52vh;
	font-weight: medium;
	line-height: 15.27vh;
	background: linear-gradient(to top, #f78e6a, #fc66a2);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.try {
	display: flex;
}

.try__plus {
	width: 5.55vh;
	object-fit: contain;
	margin-right: 2.96vh;
}

.try__inscription {
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	max-width: 32.4vh;
}

.pages {
	font-weight: lighter;
	text-align: right;

	background: linear-gradient(to right, #f78e6a, #fc66a2);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pages__top {
	font-size: 6.67vh;
	line-height: 2.22vh;
}

.pages__bottom {
	font-size: 2.77vh;
	line-height: 2.22vh;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.social {
	min-width: 6.75em;
	display: flex;
	justify-content: space-between;
}

.scroll-down {
	display: flex;
	align-items: center;
}

.scroll-down__arrow {
	max-width: 30px;
	content: url('images/ellipse-arrow.png');
}

.scroll-down__text {
	margin-right: 0.625em;
}