.welcome,
.scroll-down__text {
	display: none;
}

.slides {
	padding: 3.90vw 2.05vh;
}

.menu {
	order: -3;
	flex-basis: 33%;
}

.logo-left {
	order: -2;
	align-self: flex-start;
	flex-basis: 33%;
	max-width: none;
}

.phone {
	flex-basis: 33%;
}

.phone__number {
	order: -1;
}

.main-inscription {
	order: 0;
	align-self: center;
	flex-basis: 60%;
	margin-left: 3.9vh;
	width: 52.08vw;
	height: 19.04vh;
}

.main-image {
	order: 1;
	flex-basis: 40%;
	height: 56.64vh;
	transform: scale(-1, 1);
}

.classes-image {
	order: 1;
	flex-basis: 40%;
	height: 56.64vh;
	transform: scale(-1, 1);
}

.switch-classes-arrows {
    display: none;
}

.fp-tableCell {
    vertical-align: top;
}

.scroll-down {
	order: 2;
	flex-basis: 30%;
	justify-content: flex-start;
	align-self: flex-end;
	margin-left: 3.9vh;
}

.social {
	order: 3;
	flex-basis: 30%;
	justify-content: center;
	align-self: flex-end;
}

.pages {
	order: 4;
	flex-basis: 30%;
	margin: unset;
}