@media screen and (max-height: 480px) and (orientation: landscape) {

    .main-logo {
        display: none;
    }

    .pages {
        flex-basis: 5%;
        @media (min-width: 670px) {
            display: none;
        }
    }

    .scroll-down {
        flex-basis: 30%;

        &-text {
            display: none;
        }
    }

    .social {
        flex-basis: 70%;
        margin: auto;
    }

    .small-menu-header {
        display: none;
    }

    .button {
        align-self: flex-end;

        font-size: 2.7vw;

        margin-top: 3vh;
        padding: 0 0 0 3rem;
        
        min-height: 2.5rem;
        min-width: 14rem;
    }

    .after-form-attention {
        font-size: 0.7rem;
        width: 30%;
        order: -1;
    }

    .thanks {
        font-size: 3.5rem;
    }
}