@media screen and (max-height: 480px) and (orientation: landscape) {

    .trainer {
        &s {
            &-menu {
                flex-basis: content;

                & + div {
                    flex-basis: 70%;
                    height: 70%;
                }
            }

            &-button {
                width: 100%;
            }
        }
    
        flex-basis: 60%;

        &-image {
            height: 60vh;
            margin-top: 0;
        }

        &-text {
            margin-top: 0;
            height: 100%;
        }

        &-head {
            font-size: 5vh;
        }

        &-description {
            font-size: 3vh;
            margin-bottom: 0;
        }
    }
}