@media screen and (max-height: 480px) and (orientation: landscape) {

    .prices {
        &-wrapper {
            width: 100%;
            align-items: center;
        }

        &-image {
            display: none;
        }

        &-table {
            margin-top: 2%;
            margin-bottom: 0;

            &-wrapper {
                display: none;
            }

            &-landscape-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        &-td-wrapper {
            grid-template-rows: 1;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: space-between;
            column-gap: 0;
            padding: 5%;
        }

        &-plus {
            display: none;
        }

        &-button {
            // width: 50%;
        }
    }
}