@media screen and (max-height: 480px) and (orientation: landscape) {

    .first-slide-image,
    .courses-image {
        display: none;
    }
    
    .first-slide {
        &-header {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            max-width: unset;
            width: 100%;
            flex-basis: 100%;
        }

        &-cta {
            margin-bottom: 0;
            font-size: 1rem;
            max-width: 50%;
            
            &-plus {
                width: 5vw;
            }
        }
    }

    .clubname {
        margin-top: 0;
    }
}