@media screen and (max-width: 1090px) and (max-aspect-ratio: 11/9) {
    
    .mobile-menu {
        display: none;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        text-align: center;
        width: 100vw;
        height: 100%;

        &-opened {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            padding: 0;
            margin: 0;

            background-color:rgba(251, 245, 244, 0.9);

            &-item {
                font-size: 1.5em;
                opacity: 0.5;
                list-style: none;

                & a {
                    color: inherit;
                    text-decoration: none;
                }

                &-selected {
                    opacity: 1;
                    color: black;
                }
            }
        }

        &-close-icon {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            opacity: 1;
            z-index: 4;
            margin: 5vh 5vh 0 auto;
        }
    }
}