@media screen and (max-width: 1024px) and (max-aspect-ratio: 11/9) {
    
    .welcome,
    .scroll-down-text,
    .phone,
    .main-menu,
    .courses-menu,
    .top-center {
        display: none;
    }

    .main-menu-icon {
        order: -3;
        height: 3.07vh;
    }
    
    .main-logo {
        justify-content: flex-end;
        order: -2;
        
        height: 3.08vh;
        margin: 0 0 0 auto;
    }
    
    .slides {
        padding: 20px;
    }
    
    .pages {
        flex-basis: 33.33%;
        order: 1;

        text-align: unset;
        margin: 0;

        &-top {
            padding-top: 0;
            font-size: 3.69vh;
            line-height: 2.96vh;
        }

        &-bottom {
            font-size: 1.72vh;
            line-height: 2.96vh;
        }
    }
    
    .social {
        flex-basis: 33.33%;
        order: 2;

        align-self: flex-end;
        justify-content: center;

        font-size: 10px;
        margin: 0;
    }
    
    .scroll-down {
        flex-basis: 33.33%;
        order: 3;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 0;
    }

    .button {
        width: 100%;
        min-width: unset;
        min-height: 60px;

        margin: 2vh auto 0;
        font-size: 1.1rem;
    }

    .after-form-attention {
        font-size: 0.7rem;
    }
}