@media screen and (max-width: 1024px) and (max-aspect-ratio: 11/9) {

    .prices {
        &-wrapper {
            align-items: center;

            padding: 0;
            margin: 0;
            width: 100%;
        }

        &-image {
            display: none;
        }

        &-table {
            padding: 0;
            margin-top: 0;
            margin-right: 0;

            &-td {
                height: 17.24vh;
                width: 1fr;
            }
        }

        &-td-wrapper {
            grid-template-rows: 2fr;
            grid-template-columns: 1fr;
        }

        &-button {
            width: 77.3vw;
        }

        &-plus {
            display: none;
        }
    }
}