@media screen and (max-height: 480px) and (orientation: landscape) {

    .main-image,
    .classes-image {
        display: none;
    }
    
    .main-inscription,
    .logo-left {
        flex-basis: 20%;
        margin: auto;
    }
    
    .menu-classes {
        margin-right: 3vw;
    }
    
    .yoga {
        display: none;
    }
    
    .try {
        max-width: unset;
    }
    
    .pages {
        flex-basis: 5%;
    }
    
    .classes-text {
        margin-top: 0;
        flex-basis: 55%;
    }
    
    .menu-block .menu-opened__item {
        margin-top: 1.5em;
    }
    
    .button-sign-up {
        flex-basis: 80%;
        align-self: flex-end;
        height: 25%;
        width: 50%;
        font-size: 1rem;
    }
    
    .scroll-down {
        flex-basis: 100%;
    }
    
    .social {
        display: none;
        margin: auto;
        flex-basis: unset;
    }
}