//- Class, name of top-center-text, name of menu item
-
    let pages = [
        ['main', 'Добро пожаловать', 'Главная'],
        ['courses', 'Направления и классы', 'Направления'],
        ['try-1', 'Пробное занятие'],
        ['trainers', 'Преподаватели', 'Преподаватели'],
        ['prices', 'Абонементы', 'Абонементы'],
        ['schedule', 'Расписание', 'Расписание'],
        ['reviews', 'Отзывы', 'Отзывы'],
        ['try-2', 'Пробное занятие'],
        ['contacts', 'Контакты', 'Контакты'],
        ]

//- Name, description
-
    let courses = [
        ['Для начинающих',
        'Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и требует обучения. Такой программный комплекс существует и в нашем центре.',
        'Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много людей занимаются йогой и придерживаются здорового образа жизни.'],

        ['Аштанга Виньяса',
        'Аштанга Виньяса йога представляет собой динамичную практику, которая включает в себя определенную последовательность асан, связанных между собой виньясами (системой движения).'],

        ['Универсальная',
        'Эта тренировочная система вобрала в себя всё лучшее из самых сильных и интересных школ йоги, таких как Аштанга Виньяса, Айенгар-йога, Тибетская Гималайская йога и другие.'],

        ['Кундалини',
        'Кундалини-йога - одно из направлений йоги, система упражнений, призванная поднять энергию кундалини из основания позвоночника.'],

        ['Айенгара',
        'Айенгар-йога - разновидность Хатха-йоги, основанная йогином Айенгаром. Характерной особенностью метода является статичное выполнение асан с необходимыми опорами.'],

        ['Терапия',
        'Йога-терапия - это способ при помощи асан оказать воздействие не только на физическое тело (кости, мускулы и суставы), как другие упражнения, но и на физиологический уровень.'],
        ]

//- Name, name form, imege, description
-
    let trainers = [
        ['Максим Казаков', "Максиму", 'images/maksim.png',
        'Занимается йогой Айенгара с 1990 года. Является преподавателем йоги Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары, занятия разных уровней сложности.',
        'Является одним из самых опытных преподавателей.'],

        ['Настя Антипова', "Насте", 'images/courses-image.png',
        'К Насте на практику приходят люди разного возраста с разными физическими данными и возможности. Чтобы все могли практиковать на своем уровне, она дает несколько вариантов сложности одной и той же асаны на уроке.'],
    
        ['Мария Жукова', "Марии", 'images/abonements-image.png',
        'Мария – опытный учитель, она посвятила свою жизнь исследованию того, как функционирует наше тело, и что она может сделать, чтобы помочь другим достичь позитивных изменений в физическом уровне.'],
        ]

//- Title of abonement, price
-   
    let prices = [
        ['Разовое занятие', '300'],
        ['Месяц занятий', '2 000'],
        ['2 месяца занятий', '3 500'],
        ['3 месяца занятий', '4 500'],
        ['Полгода занятий', '8 000'],
        ['Год занятий', '14 000']
        ]

//- Tr - td
-   
    let schedule = [
        ['Скачать расписание',   '08:00 − 09:25',       '09:30 − 10:55',       '11:00 − 12:25',        '13:30 − 14:55',        '15:00 − 16:25',        '17:00 − 18:25'],
        ['Понедельник',          'Йога для начинающих', 'Универсальная йога',  'Йога Айенгара',        'Аштанга Виньяса йога', 'Йогатерапия',          'Кундалини йога'],
        ['Вторник',              'Кундалини йога',      'Йогатерапия',         'Аштанга Виньяса йога', 'Йога Айенгара',        'Универсальная йога',   'Йога для начинающих'],
        ['Среда',                'Универсальная йога',  'Йога для начинающих', 'Аштанга Виньяса йога', 'Йога Айенгара',        'Кундалини йога',       'Йогатерапия'],
        ['Четверг',              'Йога для начинающих', 'Универсальная йога',  'Йога Айенгара',        'Аштанга Виньяса йога', 'Йогатерапия',          'Кундалини йога'],
        ['Пятница',              'Кундалини йога',      'Йогатерапия',         'Аштанга Виньяса йога', 'Йога Айенгара',        'Универсальная йога',   'Йога для начинающих'],
        ['Суббота',              'Универсальная йога',  'Йога для начинающих', 'Аштанга Виньяса йога', 'Йога Айенгара',        'Кундалини йога',       'Йогатерапия'],
        ['Воскресенье',          'Йога для начинающих', 'Универсальная йога',  'Йога Айенгара',        'Аштанга Виньяса йога', 'Йогатерапия',          'Кундалини йога'],
        ]

//- Name, path to photo, age, text of review
- 
    let reviews = [
        ['Арина Наумова', 'images/photo-naumova.png', '34 года',
        'Не знаю, как у других, но мне после занятий йогой хочется начать новую здоровую жизнь, хочется больше есть овощей и фруктов и поднять свой иммунитет. Теперь для меня день занятий йогой — это день здоровья.'],
        ['Имя Фамилия', 'images/photo-naumova.png', '34 года',
        'Здесь еще один отзыв'],
        ['Имя Фамилия', 'images/photo-naumova.png', '34 года',
        'Здесь еще один отзыв'],
        ['Имя Фамилия', 'images/photo-naumova.png', '34 года',
        'Здесь еще один отзыв']
        ]