@media screen and (max-height: 480px) and (orientation: landscape) {

    .main-image,
    .classes-image {
        display: none;
    }
    
    .main-inscription,
    .logo-left {
        flex-basis: 20%;
        margin: auto;
    }
    
    .menu-classes {
        margin-right: 3vw;
    }
    
    .yoga {
        display: none;
    }
    
    .try {
        max-width: unset;
    }
    
    .pages {
        flex-basis: 5%;
    }
    
    .classes-text {
        flex-basis: 55%;
        margin-top: 0;
    }

    .classes-description {
        font-size: 0.6rem;
        width: 100%;
    }
    
    .menu-block .menu-opened-item {
        margin-top: 1.5em;
    }
    
    .button-sign-up {
        align-self: flex-end;

        padding: 0 0 0 5%;
        height: 25%;
        
        font-size: 1rem;
    }
    
    .scroll-down {
        flex-basis: 30%;

        &-text {
            display: none;
        }
    }

    .social {
        flex-basis: 70%;
        margin: auto;
    }

    // Third slide
    .test-03-form-wrapper {
        flex-direction: row;
        flex-basis: 91%;
    }

    .test-03 {
        &-image {
            display: none;
        }

        &-header {
            display: none;
        }

        &-discount {
            font-size: 3rem;
        }

        &-description {
            display: none;
        }
    }

    .submit {
        font-size: 1.1rem;
        height: 3rem;
        width: 15rem;
        padding-right: 1rem;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .test-form {
        width: 50%;

        & > input:last-of-type {
            margin-top: 1rem;
        }
    }

    .after-form-attention {
        font-size: 0.7rem;
        width: 30%;
        order: -1;
    }

    .thanks {
        font-size: 3.5rem;
    }

    
}