// General styles

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fbf5f4;
	margin: 0;
	padding: 0;
	
	font: {
		family: 'Geometria', sans-serif;
		size: calc( (100vmax - 480px)/(1280 - 480) * (18 - 12) + 12px);
		weight: normal;
	}
}

.slides {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	overflow-y: hidden;

	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding: 6.48vh 8.33vh;
}

.fp-tableCell {
	vertical-align: top;
}

button:focus {
	outline: none;
}

input:focus,
textarea:focus {
	outline: #f78e6a solid 2px;
}

// Slide outline

.main-menu,
.try,
.social,
.scroll-down {
	cursor: pointer;
}

.main-menu {
	display: flex;
	align-items: center;
	align-self: flex-start;
	flex-basis: 25%;

	&-icon {
		content: url('../images/burger.png');
		margin-right: 0.938em;
	}
}

.mobile-menu,
.mobile-menu-icon {
	display: none;
}

.top-center {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
	flex-basis: 50%;

	&-dot {
		background-color: #f78e6a;
		width: 0.375em;
		height: 0.375em;
		border-radius: 50%;
		margin-right: 0.625em;
	}

	&-text {
		line-height: 3.33vh;
	}
}

.phone {
	display: flex;
	justify-content: flex-end;
	flex-basis: 25%;

	&-number {
		font-family: 'Montserrat Regular';
		text-decoration: none;
		color: black;
	}
}

.main-logo {
	flex-basis: 10%;

	content: url('../images/logo.png');
	object-fit: contain;
	max-width: 49px;
}

.pages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	margin: auto 0;
	font-weight: lighter;
	text-align: right;
	color: #fc66a2;

	background: linear-gradient(to right, #f78e6a, #fc66a2);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	@media (min-aspect-ratio: 11/9) and (max-aspect-ratio: 9/5) {
		display: none;
	}

	&-top {
		font-size: 6.67vh;
	}

	&-bottom {
		font-size: 2.77vh;
	}
}

.social {
	display: flex;
	flex-basis: 50%;
	
	font: {
		family: 'Montserrat', sans-serif;
		size: 0.6em;
	}
	text-transform: uppercase;
	
	min-width: 10.18vh;
	align-self: center;

	&-vk,
	&-fb {
		margin-right: 3em;
	}

	&-vk:hover,
	&-fb:hover,
	&-inst:hover {
		color: #f89677;
	}
}

.scroll-down {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	align-self: center;
	flex-basis: 50%;

	margin-right: auto;

	text-decoration: none;
	color: inherit;

	&-arrow {
		background: url('../images/ellipse-arrow.png') no-repeat {
			position: center;
		};
		object-fit: contain;
		width: 3em;
		height: 3em;

		&-up {
			transform: rotate(180deg);
		}

		:hover,
		:active {
			background: url('../images/arrow-active.png') no-repeat;
			background-position: center;
		}
	}

	&-text {
		align-self: flex-start;
		margin-right: 0.625em;
	}
}

// Other elements

.plus {
	object-fit: contain;
	
	width: 5.55vh;
	margin-right: 2.96vh;
}

.small-menu-header {
	padding: 0;
		
	font: {
		size: 1.125em;
		weight: 600;
	}

	background: linear-gradient(to top, #f78e6a, #fc66a2);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.switch-arrow {
	&s {
		display: none;
	}

	&-back:active,
	&-forward:active {
		content: url('../images/arrow-active.png');
	}
}

.button-sign-up {
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;

	background: {
		image: url('../images/plus.png');
		repeat: no-repeat;
		color: #f78e6a;
		size: auto 100%;
	}
	
	border: none;
	border-radius: 3rem;
	
	min-width: 16rem;
	min-height: 3.5rem;
    
	padding: 0 3rem 0 5rem;

	font-size: 1.3rem;
    line-height: 1.5em;
	color: white;
	
	&:active {
		background-color: white;
		outline: none;
		color: #f78e6a;
	}
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	background: url('../images/mail-button.png') no-repeat {
		color: #f78e6a;
		size: auto 100%;
	}
	
	border: none;
	border-radius: 3rem;
    
    margin-top: 4.63vmin;
	padding: 1rem 3rem 1rem 5rem;

	font-size: 1em;
    line-height: 1.5em;
	color: white;
	
	&:active {

		background-color: white;
		outline: none;
		color: #f78e6a;
	}
}

.after-form-attention {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 2.77vmin;
}