@media screen and (max-width: 1090px) and (max-aspect-ratio: 11/9) {
    
    .welcome,
    .scroll-down-text,
    .phone,
    .menu-header,
    .menu-classes,
    .top-center {
        display: none;
    }
    
    .menu {
        order: -3;

        &-icon {
            height: 3.07vh;
        }
    }
    
    .logo-left {
        justify-content: flex-end;
        order: -2;
        
        height: 3.08vh;
        margin: 0 0 0 auto;
    }
    
    .slides {
        padding: 20px;
    }
    
    .pages {
        flex-basis: 33.33%;
        order: 1;

        text-align: unset;
        margin: 0;

        &-top {
            padding-top: 0;
            font-size: 3.69vh;
            line-height: 2.96vh;
        }

        &-bottom {
            font-size: 1.72vh;
            line-height: 2.96vh;
        }
    }
    
    .social {
        flex-basis: 33.33%;
        order: 2;

        align-self: flex-end;
        justify-content: center;

        font-size: 10px;
        margin: 0;
    }
    
    .scroll-down {
        flex-basis: 33.33%;
        order: 3;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 0;
    }

    // First slide

    .main-image {
        flex-basis: 100%;
        order: -1;

        max-width: unset;
        height: 36.95vh;
    }
    
    .main-inscription {
        flex-basis: 100%;
        order: 0;
        justify-content: center;

        max-width: 70vw;
        height: auto;

        margin: auto;
    }
    
    .center-yoga {
        font-size: 2.2vh;
    }
    
    .lotos {
        flex-basis: 100%;

        font-size: 16vh;
    }
    
    .try-inscription {
        flex-basis: 100%;

        font-size: 1.97vh;
        line-height: 3.08vh;
        color: black;
    }

    // Classes's 'slide
    
    .classes-image {
        display: none;
    }

    .classes-text {
        flex-basis: 100%;
        flex-direction: row;

        margin-top: 0;
    }
    
    .classes-descriptions {
        width: 100%;
        overflow-y: scroll;
    }

    .classes-description {
        width: 100%;
        font-size: 0.85rem;
    }
    
    .yoga {
        margin-bottom: 0.5em;
        font-size: 6vh;
        margin-top: 0;
    }
    
    .button-sign-up {
        min-width: 285px;
        min-height: 60px;
        margin-top: 10px;
    }

    .switch-classes {
        &-arrows {
            display: inline;

            margin-right: 0;
            margin-left: auto;
        }
        
        &-back {
            margin-right: 10px;
            transform: rotate(90deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }

        &-forward {
            transform: rotate(275deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }
    }

    // Third slide (try-03)

    .test-03 {
        &-image {
            display: none;
        }

        &-form-wrapper {
            width: 100%;
        }

        &-header {
            font-size: 2rem;
            margin-top: 1rem;
        }

        &-discount {
            font-size: 4rem;
        }

        &-description {
            font-size: 1rem;
        }
    }

    .submit {
        font-size: 1.1rem;
    }

    .after-form-attention {
        font-size: 0.7rem;
    }

    .thanks {
        font-size: 3.5rem;
    }

    // Trainers slide (04)
    .trainers {
        &-menu {
            display: none;
            & + div {
                flex-basis: 100%;
                height: 85%;
            }
        }

        &-image {
            margin-top: 0;
            height: 30vh;
        }

        &-item {
            flex: {
                direction: column;
            }
            align-items: center;
        }

        &-text {
            flex-basis: 100%;
            flex-direction: column;
            align-items: center;
            
            width: 100%;
            margin-top: 5px;

            overflow-y: scroll;
            margin: auto;
        }

        &-head {
            font-size: 3vh;
        }


        &-description {
            width: 100%;
            font-size: 1.95vh;
        }

        &-button {
            width: 80%;
            height: 40%;
            
        }
    }

    .button-sign-up {
        max-height: 8vh;
        margin-top: 2vh;
        font-size: 2.5vh;
        min-width: unset;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 8vh;
    }

    .switch-trainers-arrows {
        display: inline;
        position: absolute;
        z-index: 2;
        
        &-back {
            margin-right: 10px;
            transform: rotate(90deg);

            position: absolute;
            right: -15vw;
            bottom: -20vh;

            width: 5vh;

            &:active {
                content: url('../images/arrow-active.png');
            }
        }

        &-forward {
            transform: rotate(275deg);

            position: absolute;
            right: -85vw;
            bottom: -20vh;

            width: 5vh;

            &:active {
                content: url('../images/arrow-active.png');
            }
        }
    }
}