@media screen and (max-width: 1024px) and (max-aspect-ratio: 11/9) {
    
    .welcome,
    .scroll-down-text,
    .phone,
    .menu-header,
    .menu-classes,
    .top-center {
        display: none;
    }
    
    .menu {
        order: -3;

        &-icon {
            height: 3.07vh;
        }
    }
    
    .logo-left {
        justify-content: flex-end;
        order: -2;
        
        height: 3.08vh;
        margin: 0 0 0 auto;
    }
    
    .slides {
        padding: 20px;
    }
    
    .pages {
        flex-basis: 33.33%;
        order: 1;

        text-align: unset;
        margin: 0;

        &-top {
            padding-top: 0;
            font-size: 3.69vh;
            line-height: 2.96vh;
        }

        &-bottom {
            font-size: 1.72vh;
            line-height: 2.96vh;
        }
    }
    
    .social {
        flex-basis: 33.33%;
        order: 2;

        align-self: flex-end;
        justify-content: center;

        font-size: 10px;
        margin: 0;
    }
    
    .scroll-down {
        flex-basis: 33.33%;
        order: 3;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 0;
    }

    // First slide

    .main-image {
        flex-basis: 100%;
        order: -1;

        max-width: unset;
        height: 36.95vh;
    }
    
    .main-inscription {
        flex-basis: 100%;
        order: 0;
        justify-content: center;

        max-width: 70vw;
        height: auto;

        margin: auto;
    }
    
    .center-yoga {
        font-size: 2.2vh;
    }
    
    .lotos {
        flex-basis: 100%;

        font-size: 16vh;
    }
    
    .try-inscription {
        flex-basis: 100%;

        font-size: 1.97vh;
        line-height: 3.08vh;
        color: black;
    }

    // Classes's 'slide
    
    .classes-image {
        display: none;
    }

    .classes-text {
        flex-basis: 100%;
        flex-direction: row;
		justify-content: center;

        margin-top: 0;
    }
    
    .classes-descriptions {
        width: 100%;
        overflow-y: scroll;
    }

    .classes-description {
        width: 100%;
        font-size: 0.85rem;
    }
    
    .yoga {
        margin-bottom: 0.5em;
        font-size: 6vh;
        margin-top: 0;
    }
    
    .button-sign-up {
        min-width: 285px;
        min-height: 60px;
        margin-top: 10px;
    }

    .switch-classes {
        &-arrows {
            display: inline;

            margin-right: 0;
            margin-left: auto;
        }
        
        &-back {
            margin-right: 10px;
            transform: rotate(90deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }

        &-forward {
            transform: rotate(275deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }
    }

    // Third slide (try-03)

    .test-03 {
        &-image {
            display: none;
        }

        &-form-wrapper {
            width: 100%;
        }

        &-header {
            font-size: 2rem;
            margin-top: 1rem;
            line-height: normal;
        }

        &-discount {
            font-size: 4rem;
        }

        &-description {
            font-size: 1rem;
        }
    }

    .submit {
        font-size: 1.1rem;
        width: 100%;
    }

    .after-form-attention {
        font-size: 0.7rem;
    }

    .thanks {
        font-size: 3.5rem;
    }

    // Trainers slide (04)
    .trainers {
        &-menu {
            display: none;
            & + div {
                flex-basis: 100%;
                height: 85%;
            }
        }

        &-image {
            margin-top: 0;
            height: 30vh;
        }

        &-item {
            flex: {
                direction: column;
            }
            align-items: center;
        }

        &-text {
            flex-basis: 100%;
            flex-direction: column;
            align-items: center;
            
            width: 100%;
            margin-top: 5px;

            overflow-y: scroll;
            margin: auto;
        }

        &-head {
            font-size: 3vh;
        }


        &-description {
            width: 100%;
            font-size: 1.95vh;
            margin-bottom: 0;
        }
    }

    .button-sign-up {
        margin-top: 2vh;
        font-size: 2.4vh;
        min-width: unset;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 7vh;
    }

    .switch-trainers-arrows {
        display: inline;
        position: absolute;
        z-index: 2;
        
        &-back {
            margin-right: 10px;
            transform: rotate(90deg);

            position: absolute;
            right: -15vw;
            bottom: -20vh;

            width: 5vh;

            &:active {
                content: url('../images/arrow-active.png');
            }
        }

        &-forward {
            transform: rotate(275deg);

            position: absolute;
            right: -85vw;
            bottom: -20vh;

            width: 5vh;

            &:active {
                content: url('../images/arrow-active.png');
            }
        }
    }

    // Prices slide

    .prices {
        &-wrapper {
            padding: 0;
            margin: 0;
            width: fit-content;
        }

        &-image {
            display: none;
        }

        &-table {
            &-wrapper {
                overflow-x: auto;
            }
            
            padding: 0;
            margin-top: 0;
            overflow-x: auto;

            &-td {
                height: 17.24vh;
            }
        }
        &-button {
            width: 77.3vw;
            margin-left: 5.7vw;
        }
        
    }

    // Schedule slide

    .schedule {
        &-table {
            overflow-x: auto;
            height: 76.6vh;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        &-td {
            min-width: 50vw;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    // Review slide

    .reviews {
        &-image,
        &-menu {
            display: none;
        }
        &-text {
            flex-basis: 100%;
            flex-direction: row;
            justify-content: center;
    
            margin-top: 6%;
            font-size: 1rem;
        }
        &-wrapper {
            width: 100%;
            height: 50vh;
            margin-top: 0;
            margin-left: 0;
        }
        &-review-wrapper {
            width: 100%;
        }
        &-button {
            font-size: 1rem;
        }
    }

    .switch-reviews {
        &-arrows {
            display: flex;
            justify-content: flex-end;
            margin: 0 0 0.5% auto;
        }

        &-back {
            margin-right: 10px;
            transform: rotate(90deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }

        &-forward {
            transform: rotate(275deg);

            &:active {
                content: url('../images/arrow-active.png');
            }
        }
    }

    // Second try slide
    .test-08-image {
        display: none;
    }

    .test-08-form-wrapper {
        width: 100%;
    }

    // Contacts
    .contacts {
        &-map {
            width: 80vw;
            height: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            margin: auto;
        }

        &-header {
            margin: 0;
        }

        &-address {
            margin-bottom: 3.32%;
            margin-top: 3.32%;
        }
    
        &-email {
            margin-bottom: 3.32%;
            margin-top: 3.32%;
        }

        &-see-map,
        &-give-review {
            margin-bottom: 8%;
        }

        &-copyright {
            margin-top: 5%;
        }

        &-button {
            min-height: unset;
            height: 10vh;
            width: 90vw;
            font-size: 1.4em;
        }
    }

    .give-review {
        &-wrapper {
            background-color: #fbf5f4;

            position: absolute;
            height: 80vh;

            margin-top: 5vh;
            
        }

        &-header {
            font-size: 1.9rem;
            text-align: center;
            &-wrapper {
                justify-content: space-around;
            }
        }
        
        &-close {
            min-width: 23px;
            min-height: 23px;
            

            background-image: url('../images/x.png');
        }

        &-form {
            width: 90%;
        }
    }
}