.prices {
    &-wrapper {
        display: flex;
        flex-direction: column;
        
    }

    &-image {
		height: 78.79vh;
    }

    &-table {
        border: solid transparent 2px;
        border-collapse: collapse;
        margin-top: 12.96vmin;
        margin-bottom: 5.56vmin;

        &-tr {
            background-color: #fff;
        }

        &-td {
            border: solid #fbf5f4 4px;
            background-color: #fff;
            font-weight: 400;
            line-height: 1.25rem;
        }
    }

    &-td-wrapper {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 60% 25%;
        align-items: center;
        justify-content: space-between;
        column-gap: 20%;
        padding: 7.22% 3.5% 7.22% 7%;
    }

    &-head {
        padding-right: 10.71%;
    }

    &-try {
        justify-self: center;
        margin: 0;
    }

    &-title {
        font-size: 0.9rem;
        white-space: nowrap;
        margin-top: 0;
    }

    &-price {
        display: flex;

    }

    &-sum {
        font-size: 1.2rem;
        font-weight: bold;
        background: linear-gradient(to right, #f78e6a, #fc66a2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 5px;
    }

    &-rub {
        font-size: 0.9rem;
        color: black;
    }

}