.test-03 {
    &-image {
        height: 55.56vh;
        padding: 11.615vh 0;
    }

    &-form-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto 0;

        justify-content: space-around;
        height: 53.06vh;
        width: 30vw;
    }

    &-discount {
        font: {
            weight: lighter;
            size: 1.7em;
        }
    
        background: linear-gradient(to right, #f78e6a, #fc66a2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-header {
        font: {
            size: 2em;
            weight: lighter;
        }
        margin: 0;
    }

    &-description {
        font-size: 1.125rem;
    }

}

.test-form {
    font: {
        family: 'Geometria', sans-serif;
        size: 1rem;
    }
    
    line-height: 2.186rem;

    & input {
        border: 0;
        border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
        background-color: transparent;

        height: 3vh;
        width: 100%;

        &:invalid:not(:focus):not(:placeholder-shown) {
            // Покажем напоминание
            color: red;
        }

        font: {
            family: 'Geometria', sans-serif;
            size: 1rem;
        }
        
        line-height: 2.186rem;
    }

}

.after-form-attention {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 2.77vmin;
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	background: url('../images/mail-button.png') no-repeat {
		color: #f78e6a;
		size: auto 100%;
	}
	
	border: none;
	border-radius: 3rem;
    
    margin-top: 4.63vmin;
	padding: 1rem 3rem 1rem 5rem;

	font-size: 1em;
    line-height: 1.5em;
	color: white;
	
	&:active {

		background-color: white;
		outline: none;
		color: #f78e6a;
	}
}

.thanks {
    display: block;

    font: {
        size: 4.5rem;
    }
    
    background: linear-gradient(to bottom, #f78e6a, #fc66a2);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.connect {
    font-size: 1.125rem;
}

.test-08-image {
    height: 70vh;
    margin-bottom: 2%;
    margin-top: 2%;
}

.test-08-form-wrapper {
    @extend .test-03-form-wrapper
}