.schedule {
    &-table {
        overflow: auto !important;

        min-width: 73.96%;
        max-width: 85%;
        height: 57.6%;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    &-tr {
        &:first-child {
            color: #f78e6a;
            font-weight: bold;
            
        }
    }
    
    &-td {
        min-width: 14.08%;
        background-color: #fff;
        padding-left: 1.76%;
        padding-right: 1.55%;
        text-align: center;

        

        &:first-child {
            @extend .schedule-tr:first-child;
        }

        &-download {
            position: relative;
            padding-left: 50px;

            &:before {
                content: url('../images/download-arrow.jpg');
                position: absolute;
                top: 25%;
                left: 5%;
            }

            & a {
                color: black;
                font-weight: normal;
                text-decoration: none;
                cursor: pointer;
                    
                    &:hover {
                        text-decoration: underline;
                    }
            }
        }
          

    }

    
    
    &-title {
        font-size: 0.875rem;
    }
}