.trainer {

	&s {
		&-menu {
			display: flex;
	
			&-header {
				margin-bottom: 1.85vh;
			}
	
			& + div {
				flex-basis: 70%;
				max-height: 78.79vh;;
			}
	
			&-opened {
				padding: 0;
				margin: 0.5em 0 0 0.5em;
			}
		}
	}

	// Trainer slide
	display: flex;
	flex-direction: row;
	margin: 0;
	
	&-image {
		object-fit: contain;
		height: 74.07vh;
		margin-top: 4.63vh;
		max-width: 47.02vw;
	}

	&-text {
		display: flex;

		flex: {
			direction: column;
			flex-wrap: wrap;
		}

		justify-content: flex-start;
		align-items: flex-start;
		height: 46.3vh;

		margin-top: 4.05vw;
		margin-left: 4.69vw;
	}

	&-header {
		display: block;
		margin: 0;

		font: {
			size: 1.5rem;
			weight: normal;
		}
	}

	&-description {
		max-height: 35vh;

		font-weight: lighter;
		line-height: 1.5em;

		font-size: 1.125rem;
		width: auto;
	}
}